* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
  }
  .container-img {
    background-image: url(../component/imagenes/corner2.jpeg);
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .logo {
    position: relative;
    background: none;
  }
  .C1 {
    width: 70px;
    height: 50px;
    position: relative;
    left: 30px;
  }
  .nav-link{
    color: #232526;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 25px;
    margin: 20px;
    
  }
  button{
    border:none;
    background:none;

  }
  a{
    
    text-decoration: none;
    color: white;
    font-size: 2.0em ;
  }
  .a {
    border-radius: 25px;
    position: relative;
    bottom: 65px;
  }
  .slogan {
    background: black;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    width: 450px;
    position: relative;
    left: 50px;
    top: 395px;
    border-radius: 30px;
  }
  .vs {
    font-family: 'Dancing Script', cursive;
    color: #232526;
    font-size: 38px;
    bottom: 460px;
    right: 30px;
    position: relative;
    text-shadow: #414345 4px 4px 2px;
  }
  .s {
    font-family: 'Bebas Neue', cursive;
    left: 10px;
    position: relative;
    color: white;
    font-size: 20px;
    bottom: 22px;
  } 
  .container2 {
    display: flex;
    justify-content: right;
    font-size: 20px;
    position: relative;
    bottom: 153px;
    right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  .horarios {
    color: #414345;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
 
  
 

  @media only screen and (max-width: 900px) {

* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
  }
  .container-img {
    background-image: url(../component/imagenes/corner2.jpeg);
    height: 800px;
    width: auto; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .logo {
    /* position: relative; */
    background: none;
  }
  .C1 {
    width: 40px;
    height: 50px;
    position: relative;
    left: 0px;
  }
  .nav-link{
    color: #232526;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 25px;
    margin: 20px;
    
  }
  button{
    border:none;
    background:none;

  }
  a {
   
    text-decoration: none;
    color: white;
    font-size: 1.1em ;
  }
  .a {
    border-radius: 25px;
    position: relative;
    bottom: 70px;
    margin: 5px;
    left: 15px;
  }
 
  .slogan {
    background: black;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    width: 350px;
    height: 140px;
    position: relative;
    /* right: 100px; */
    top: 470px;
    border-radius: 30px;
    left: 5px;
  }
  .vs {
    color: #232526;
    font-size: 35px;
    bottom: 550px;
    position: relative;
    left: 10px;
    text-shadow: #414345 4px 4px 2px;
  }
  .s {
    left: 11px;
    position: relative;
    color: white;
    font-size: 19px;
    bottom: 85px;
  } 
  .container2 {
    position: relative;
    bottom: 115px;
  }
  .horarios {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

  }
 
}